
/* small phones form 0  to 480px */
@media only screen and (max-width: 480px) {
    body {
        font-size: 16px;
    }
    .author-text {
        font-size: 12px;

    }
    .col {
        width: 100%;
    }

    /*.nav-bar  {
        display: none;
    }*/

}


/* biger phones and tablets from 481 to 767px */

@media only screen and (max-width: 767px) {
     .col-1-of-2 {
            width: 100%;
    }

    .author-text {
        padding-right: 5%;
    }
        
    .contact-form {
        width: 100%;
    }

    .row {
        margin-top: 10px;
    }
    .main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon .burger { color: #555; }

    .name-text {
        display: none;
    }
}




/* biger tablets and screens */
@media only screen and (max-width: 1023px) {
    
    

}




/* biger screens */
@media only screen and (max-width: 1200px) {
    
    

}