
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-family: 'Mulish', sans-serif;
}

.clearfix {zoom: 1}
.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */

/* bg img settings*/

/* ----------------------------------------------- */
.background-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imgs/img1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* ----------------------------------------------- */

/* name at bg img */

/* ----------------------------------------------- */


.name-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

}


/* ----------------------------------------------- */
/* name-text h1 */
/* ----------------------------------------------- */


.name-text h1 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 150%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}


/* ----------------------------------------------- */
/* btn settings on img */
/* ----------------------------------------------- */

.btn:link,
.btn:visited {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    color: #ecf0f1;
    border-radius: 5px;
    border: 1px solid;
    transition: background-color 0.2s;
}



.btn:hover,
.btn:active {
    background-color: #ecf0f1 ;
    border: 1px solid #ecf0f1;
    color: #2a2a2a;
}



/* ----------------------------------------------- */
/* nav links */
/* ----------------------------------------------- */












.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black { 
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

.logo-black {
    display: none;

}

.nav-links {
    float: right;
    list-style: none;
    margin-top: 40px;
    
}



.nav-links li {
    display: inline-block;
    margin: 20px;
}

/* ------------------------- */
/* gallery nav-bar */

/* --------------------------*/



.links {
    float: right;
    list-style: none;
    margin-top: 40px;
    
    

}


.links li {
    display: inline-block;
    margin: 20px;
}

.links a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ;
}


.links a:hover {
    border-bottom: 2px solid;
}



.nav-links a:link,
.nav-links a:visited {
    padding: 8px 0;
    text-decoration: none;
    color: #ecf0f1 ;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}


.nav-links a:hover,
.nav-links a:active {
    border-bottom: 2px solid;



}

/* ---------------------------- */

/* mobile nav */

/* ---------------------------- */

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon .burger {
    font-size: 200%;
    color: #fff;
}


/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #fff
}





/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

/* ----------------------------------------------- */

/* work setion settings */

/* ----------------------------------------------- */


.work {
    padding: 80px 0;
    background-color: #f2f4f6;
    
}


.work h2 {
    font-size: 180%;
    letter-spacing: 1px;
    font-weight: 300;
    word-break: 3px;
    color: #2c3e50;
    margin-bottom: 30px;

}

.work h2:after {
    display: block;
    height: 2px;
    background-color: #2c3e50;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


/* ----------------------------------------------- */

/* photos class settings */

/* ----------------------------------------------- */



.photos-img {
    list-style: none;
    width: 100%;
    padding-top: 30px;
    
}




.photos-img li {
    display: block;
    float: left;
    width: 25%;
    overflow: hidden;
}



.human-img img {
    background: rebeccapurple;
    width: 100%;
    height: 175.66px;
    margin: 0;
    transform: scale(1);
    transition: transform 0.5s, opacity 0.5s;
}


.human-img img:hover {
    opacity: 1;
    transform: scale(1.03);
}



.img-filter a {
    margin: 20px;
    text-decoration: none;
    color: #2c3e50;;
}


/* ---------------------------*/

/*About*/

/* ----------------------------*/

.about {
    margin-top: 60px;
    background-color: #33485c;
    background-color: #333;
}

.box:first-child {
    background-image: url(authorImg/author.jpeg);
    background-size: cover;
    background-position: center;
    padding-right: 3%;
    padding-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 100vh;
    

}

.box:last-child {
    padding-left: 3%;
    height: 90vh;
    
}

.author-img {
    padding-top: 0px;
    width: 700px;
    height: auto;
    
    
}

.author-name {
    color: #fff;
    padding-top: 30px;
    font-size: 32px;
    padding-bottom: 30px;
}

em {
    font-family: italic;
    color: #fff;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.author-text {
    margin-top: 10px;
    color: #fff;
    font-family: inherit;
    line-height: 145%;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-right: 5px;
}


.btn-gallery {
    margin-top: 30px;
}


.btn-gallery:link,
.btn-gallery:visited {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    color: #ecf0f1;
    border-radius: 5px;
    border: 1px solid;
    transition: background-color 0.2s;
}



.btn-gallery:hover,
.btn-gallery:active {
    background-color: #ecf0f1 ;
    border: 1px solid #ecf0f1;
    color: #2a2a2a;
}

.gmap {
    height: 300px;
    width: 90%;
    padding: 3px;
    border: 5px solid #ddd;
    font-size: 90%;
}



/* ---------------------------*/

/*form settings */

/* ---------------------------*/

.contact {
    margin-top: 50px;
}

.contact h2 {
    font-size: 160%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.text-secendery {
    line-height: 145%;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
    width: 70%
}

.contact h2:after {
    display: block;
    height: 2px;
    background-color: #333;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}

form div {
    margin-top: 10px;
}

input[type = text],
input[type = email],
textarea
     {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

button
  {
    padding: 10px 30px;
    color: #000;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: background-color 0.2s;

}

button:hover {
    background-color: #333;
    color: #fff;
}



/* -----------------------*/

/* footer */

/*-------------------------*/


footer {
    background: #333;
    padding: 60px;
    font-size: 80%;
}

.footer-nav  {
    list-style: none;
    float: left;
}


.footer-social {
    list-style: none;
    float: right;
}

.footer-nav li {
    display: inline-block;
    margin: 20px;
}

.footer-social li {
    display: inline-block;
    margin: 20px;
}





.footer-nav li a:link,
.footer-nav li a:visited,
.footer-social li a:link,
.footer-social li a:visited {
    text-decoration: none;
    color: #888;
    transition: color 0.2s;

}


.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

footer p {
    color: #888;
    font-size: 90%;
}

.footer-social li a:link,
.footer-social li a:visited {
    font-size: 180%;
}

.fb,
.ig,
.tw {
    transition: color 0.2s;
}

.fb:hover {
    color: #3b5998;
}

.ig:hover {
    color: #517fa4;
}

.tw:hover {
    color: #00aced;

}







